<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чуй район</title>
</head>
<body>
    <h1>Первомайский район: Исторический и административный центр города, северная и северо-западная часть столицы.</h1>
    <h1>Ленинский район: Юго-западная часть города, включая жилые массивы (Ала-Тоо, Арча-Бешик, Ак-Орго и др.).</h1>
    <h1>Октябрьский район: Юго-восточная часть, куда входят южные микрорайоны и жилмассивы.</h1>
    <h1>Свердловский район: Северо-восточная и восточная часть города, включая жилмассивы и крупные рынки.</h1>
</body>
</html>